@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');

:root {
  --fixypy-gradient: linear-gradient(90deg, hsla(120, 93%, 84%, 1) 0%, hsla(185, 90%, 51%, 1) 100%);
  --fixypy-primary: #08fdd8;
  --fixypy-dark: #0a0f1a;
  --fixypy-light: #f3f4f6;
}

.light{
    color: var(--fixypy-light);
}

.bg-gradient{
  background-image : var(--fixypy-gradient);
}

.bg-fixypy {
  background-color: var(--fixypy-primary);
}

.text-fixypy {
  color: var(--fixypy-primary);
}

.bg-dark {
  background-color: var(--fixypy-dark);
}


body {
  font-family: monospace;
  background-color: #f3f4f6; 
}

#output {
  border-top: 2px solid #4ade80;
}

textarea:focus {
  outline: none;
  border: 1px solid #10b981;
}
